name: SetupBuilder

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build-installer:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup NSIS
        uses: repolevedavaj/install-nsis@v1.1.0
        with:
          nsis-version: "3.11"
      - name: Build Windows Installer (NSIS)
        uses: joncloud/makensis-action@v4
        with:
          script-file: installer/azlang_installer.nsi

      - name: Upload installer artifact
        uses: actions/upload-artifact@v4
        with:
          name: AzLang-Windows-Installer
          path: installer/AzLang_Setup.exe
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-deb
        run: cargo install cargo-deb

      - name: Build Binary
        run: cargo build --release

      - name: Create .deb Package
        run: cargo deb

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: AzLang-Linux-Deb
          path: target/debian/*.deb
