name: BuildDeb

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-deb
        run: cargo install cargo-deb

      - name: Build Binary
        run: cargo build --release

      - name: Create .deb Package
        run: cargo deb

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: AzLang-Linux-Deb
          path: target/debian/*.deb
